.caro-img-1{
    background-image: url('./images/Rectangle\ 5.png');
    width: 90%;
    height: 70vh;
}
.caro-img-2{
    background-image: url('./images/Rectangle\ 5.png');
    width: 90%;
    height: 70vh;
}
.caro-img-3{
    background-image: url('./images/Rectangle\ 5.png');
    width: 90%;
    height: 70vh;
}
